

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>Product</th>
            <th>STATUS</th>
            <th>TOTAL_VND</th>
            <th>Total_USD</th>
        </tr>
    </thead>
    <tbody>
        <% invoiceList.forEach((invoice)=>{ %>
            <tr>
                <td>
                    <%= invoice.ORDER_DATE%>
                </td>
                <td>
                    <div>
                        <% invoice.LISTPRODUCTID.split(',').forEach((_id)=>{ %>
                            <script src="javascript/handleOnloadPro.ivmanage.js" _id="<%= _id %>"></script>
                            <div id="div_<%=_id %>">
                            </div>
                            <% }) %>
                    </div>
                </td>
                <td><%= invoice.STATUS %> </td>
                <td style="font-weight: 600;
                color: orangered;
                font-size: 14px;"><%= moneyConvert(invoice.TOTAL_VND) %></td>
                <td><%= invoice.TOTAL_USD %></td>
            </tr>
            <% })%>
    </tbody>
</table>
