<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price(VND)</th>
            <th>Price(USD)</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <% let totalPriceVND = 0,totalPriceUSD = 0; %> 
        <% cartInfo.forEach((product)=>{ %>
            <tr>
                <td> <img width="60" src="<%= product.thumbnail_url %>" alt="<%= product.product_name %>" /></td>
                <td>
                    <%= product.product_name %>
                </td>
                <td>
                    <div class="input-append">
                        <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
                            <button class="btn" type="button"><i class="icon-minus"></i></button>
                            <button class="btn" type="button"><i class="icon-plus"></i></button>
                            <button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>
                    </div>
                </td>
                <td>
                    <%= product.price %>
                </td>
                <td>
                    <%= product.price_usd %>
                </td>
                <td>$110.00</td>
            </tr>
            <% totalPriceVND += product.price; totalPriceUSD += product.price_usd; %>
            <% }) %>

                <tr>
                    <td colspan="5" style="text-align:right">Total Price(VND): </td>
                    <td> <%= moneyConvert(String(totalPriceVND))  %></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right">Total Price(USD): </td>
                    <td> <%= moneyConvert(String(totalPriceUSD.toFixed(0)))  %></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right"><strong>TOTAL ($228 - $50 + $31) =</strong></td>
                    <td class="label label-important" style="display:block"> <strong> $155.00 </strong></td>
                </tr>
    </tbody>
</table>